
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);

/* colors */
:root {
    --main-color: hsl(257, 40%, 49%);
    --sec2color: hsl(300, 69%, 71%);
}
body {
    background-color: var(--main-color);
    background-image: url(../imges/bg-desktop.svg);
    width: 100%;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}
h1 {
    font-family: "Poppins";
}
section {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 1200px;
    margin: auto;
    margin-top: 3rem;
}
figure {
    margin-bottom: 4rem;
}
figure img {
    width: 250px;
    max-width: 350px;
}
.mockups img {
    width: 600px;
  max-width: 700px;
  max-height: 500px;
  /* margin-left: -20px; */
}
.mockups {
    margin-left: -35px;
}
.text {
    flex-basis: 50%;
    margin: 3rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    /* margin-left: -1px; */
}
.text h1 {
    font-weight: 600;
    font-size: 2.4em;
    /* font-size: 35px; */
    margin-bottom: 5px;
    
}
.text p {
    color: rgba(235, 228, 241, 0.829)
}
button {
    cursor: pointer;
    display: inline-block;
  text-decoration: none;
  padding: 15px 60px;
  background: white;
  border-radius: 50px;
  margin-top: 1.5rem;
  color: var(--main-color);
  font-size: 1rem;
  font-family: "Poppins";
  transition: all 300ms;
  max-width: auto;
  text-align: center;
  border: none;
  width: fit-content;
  box-shadow:  -4px -4px 6px 0 rgba(116, 125, 136, .2), ;
}
button:hover {
    color: white;
    background-color: var(--sec2color);
    /* border: 1px solid black; */
}
.down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.down a {
  text-decoration: none;
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  line-height: 42px;
  padding: 10px;
  color: white;
  border-radius: 20px;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 28px;
  box-shadow:
  7px 7px 20px 0px rgba(0,0,0,.4)
}
.down a:hover {
    box-shadow: 4px 3px 20px 0px rgba(0,0,0,.4);
    background: transparent;
    color: #76aef1;
}
.socials-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 6rem;
    margin-top: 6rem;

}
.socials {
    width: 150px;
    display: flex;
  justify-content: space-around;
}
.socials a {
    margin-right: -10px;
    width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5rem;
  padding-top: 8px;
  transition: all 300ms;
  text-align: center;
  cursor: pointer;
}
.socials a img {
    text-align: center;
}
.socials a img:hover {
    color: var( --sec2color)
}
.socials a:hover {
    border: transparent
}
/* beging responsive design */
/* small screens */
@media screen and (max-width: 750px) {
    body {
        background-image: url(../imges/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
    }
    section {
        max-width: 750px !important;
        width: 750px;
        margin: auto !important;
        margin-top: 3rem !important;
        flex-direction: column; 
    }
    .mockups {
        flex-basis: 100%;
        margin-left: 5px;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
    .mockups img {
        margin-left: 40px;
        max-width: 750px;
         width: 500px;
         /* margin-right: -10px; */
    } 
    .text {
        display: flex;
        justify-content: center;
        align-items: center
    }
     h1 {
        /* margin-left: -140px;  */
        /* margin-left: auto; */
        margin-right: 145px;
    }
    p {
        font-size: 1.5rem;
        text-align: center;
        margin-right: 145px;
    }
    button {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 145px;
    }
    .socials-container { 
        justify-content: center;
        margin-right: -185px;
    }
    .down {
        margin-right: -250px;
        margin-top: 10rem;
    }
}
@media screen and (max-width: 350px) {
    .socials-container {
        margin-right: -250px;
    }
    .down {
        margin-right: -250px;
        margin-top: 5rem;
    }
}